.login {
  background-color: rgb(233, 196, 227);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.loginform {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.name_username, .name_password {
  text-align: left;
  padding: 4px 0;
  font-weight: bold;
}


.input_username, .input_password{
  margin: 8px 0;
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.msg {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;  
  padding: 0%;
  color: red;
}

.btn_login {
  border: none;
  margin: 8px 0;
  background-color: rgb(228, 156, 62);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

